.controlBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
  width: 395px;
}

.newGameBtn {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  height: 37px;
  width: 37px;
  padding: 0;
  display: flex;
  border: 1px solid #999;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: background-color 0.15s ease-out;
  background-color: #FFF;

  &:hover {
    background-color: rgba(245, 245, 245, 0.7);
  }
}
