.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: visible;
}

.numPad {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  height: 200px;
  width: 200px;
  transform: translate(-50%, -50%);
  z-index: 10;
  filter: url(#goo);
}

.num {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  background-color: #FFF;
  z-index: 11;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  transition: transform 0.15s ease-out;
  color: #000;
}
